<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="copyright" content="&copy; 2013 Rebel Hippo Inc." />
	<meta name="description" content="Measuring fun. Metrics and insights for your games." />

	<title>{% block title %}Leaderboard Demo{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
	{% block stylesheets %}{% endblock %}
</head>
<body>
<div id="wrapper">
	<div id="header">
	</div>

	<div id="main" class="{% block class %}{% endblock %}">	    
		{% block content %}{% endblock %}
	</div>

	<div id="footer">
	</div>
</div>

{% block scripts %}{% endblock %}

</body>
</html>
